.system-welcome-container {
    & .system-welcome-background {
        width: 100%;
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        & .system-welcome-content {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            & .title {
                font-size: 60px;
            }
            & p {
                font-size: 20px;
                color: #555;
            }
        }
    }
}
