.list-specialty-container {
    & .list-specialty-content {
    }
}
.search-container-list-patient {
    max-width: 330px;
}

.item {
    & .item-specialty {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        padding-top: 20px;
        color: rgb(0, 0, 0);
        &:not(:first-child) {
            border-top: 1px dotted #ccc;
        }
        & .image-doctor {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        & .image-specialty {
            width: 120px;
            height: 80px;
            border-radius: 8px;
            overflow: hidden;
            min-width: 120px;
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        & .image-clinic {
            width: 120px;
            height: 80px;
            border-radius: 8px;
            overflow: hidden;
            border: 1px solid #eee;
            min-width: 120px;

            & img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        & .name-specialty {
            margin-left: 10px;
        }
        & .name-doctor {
            margin-left: 10px;
            & h2 {
                font-size: 16px;
            }
            & p {
                color: #555;
                font-size: 12px;
            }
        }
    }
}

// .img-clinic {
//     object-fit: contain !important;
// }
