.manage-doctor-container {
    & .wrapper-manager-doctor {
        width: 80%;
        margin: 0px auto;
        & .manage-doctor-title {
            text-transform: uppercase;
            text-align: center;
            padding: 20px;
            font-weight: bold;
        }
        & .container-infor-doctor {
            width: 100%;
        }
        & .manage-doctor-editor {
            margin-top: 20px;
            margin-left: -5px;
            margin-right: -5px;
            & .title-editor {
                margin-bottom: 5px;
            }
        }
        & .container_btn {
            display: flex;
            justify-content: flex-end;
            & .btn-primary {
                margin: 50px;
            }
            & .btn-warning {
                margin: 50px;
            }
        }
    }
}
