.user-redux-body {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 24px;
        padding-bottom: 60px;
        .text {
            margin: 40px 0px 25px 0px;
            & span {
                font-size: 22px;
                padding: 5px 10px;
                background-color: #0071ba;
                color: #fff;
                border-radius: 4px;
            }
        }
        .form-container {
            width: 100%;
            // padding: 40px 50px;
            // border-radius: 6px;
            // box-shadow: 0 0 2px #555;
        }
    }
}

.wrapper-container {
    margin: 20px 150px;

    & .action-modal {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
        position: relative;
        & .filter {
            display: flex;
            align-items: center;
            justify-content: space-between;
            // min-width: 700px;
            & .filter-role {
            }
        }
    }
    & .users-table {
        height: 70vh;
        overflow: auto;
        & table {
            padding-top: 84px;
            & td {
                border-top: 1px dot #dee2e6;
            }
        }
    }
}

.fixedTop {
    position: sticky;
    top: 0;
    background-color: #fff;
    pointer-events: none;
}
.user-redux-body {
    & .container {
        & .upload-file-container {
            & .btn-container {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 6px 20px;
                // background-color: rgb(220, 226, 230);
                border-radius: 4px;
                opacity: 0.9;
                border: 2px dotted #ccc;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover {
                    opacity: 1;
                }
                .text-upload {
                    margin: 0;
                }
                .icon-upload {
                    margin: 0;
                    margin-left: 5px;
                    & svg {
                    }
                }
                .preview {
                    position: absolute;
                    top: 45px;
                    width: 100%;
                    height: 70px;
                    border: 1px solid #ccc;
                    background: center center no-repeat;
                    background-size: contain;
                    object-fit: contain;
                    cursor: pointer;
                }
            }
        }
    }
}
